<div class="animated fadeIn">
    <h5>Change Password</h5>
    <div class="col-md-4">
      <div class="alert alert-success" role="alert" *ngIf="alertValidationSuccess">
        {{ alertMessage }}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="alertValidationFailed">
        {{ alertMessage }}
      </div>
      <form [formGroup]="formChangePass" (ngSubmit)="changePassword()">
        <div class="form-group">
          <label class="col-form-label">Current Password</label>
          <input type="password" class="form-control" formControlName="currentPassword" placeholder="Current Password">
        </div>
        <div class="form-group">
          <label class="col-form-label">New Password</label>
          <input type="password" class="form-control" formControlName="password" placeholder="New Password">
          <small class="form-text text-muted">
            Your password must be 6-32 characters long.
          </small>
        </div>
        <div class="form-group">
          <label class="col-form-label">Repeat Password</label>
          <input type="password" class="form-control" formControlName="confirmpassword" placeholder="Confirm Password">
          <div class="alert alert-danger"
            *ngIf="formChangePass.get('confirmpassword').errors && formChangePass.get('confirmpassword').errors.ConfirmPassword">
            Passsword and ConfirmPassword didn't match.
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!formChangePass.valid">
          Change Password
        </button>
      </form>
    </div>
  </div>